<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navigation %}
            <ul>
                <li>Редактор знаний
                    <ul>
                        <li><a href="{{ path('признаки') }}">Признаки</a></li>
                        <li><a href="{{ path('неисправности') }}">Неисправности</a></li>
                        <li><a href="{{ path('возможные-значения-признаков') }}">Возможные значения признаков</a></li>
                        <li><a href="{{ path('нормальные-значения-признаков') }}">Нормальные значения признаков</a></li>
                        <li><a href="{{ path('клинические-картины') }}">Клинические картины</a></li>
                        <li><a href="{{ path('значения-признаков-неисправностей') }}">Значения признаков неисправностей</a></li>
                    </ul>
                </li>
                <li>Дерево знаний (WIP)</li>
                <li>Решатель задач (WIP)</li>
            </ul>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
