<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Система, основанная на знаниях{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {# стили для навигации #}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
            <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;">
                <h3 class="w3-bar-item">Меню</h3>
                <ul style="list-style-type: none;">
                    <li>Редактор знаний
                        <ul style="list-style-type: none;">
                            <li><a class="w3-bar-item w3-button" href="{{ path('признаки') }}">Признаки</a></li>
                            <li><a class="w3-bar-item w3-button" href="{{ path('неисправности') }}">Неисправности</a></li>
                            <li><a class="w3-bar-item w3-button" href="{{ path('возможные-значения-признаков') }}">Возможные значения признаков</a></li>
                            <li><a class="w3-bar-item w3-button" href="{{ path('нормальные-значения-признаков') }}">Нормальные значения признаков</a></li>
                            <li><a class="w3-bar-item w3-button" href="{{ path('клинические-картины') }}">Клинические картины</a></li>
                            <li><a class="w3-bar-item w3-button" href="{{ path('значения-признаков-неисправностей') }}">Значения признаков неисправностей</a></li>
                        </ul>
                    </li>
                    <li><a class="w3-bar-item w3-button" href="{{ path('дерево-знаний') }}">Дерево знаний</a></li>
                    <li><a class="w3-bar-item w3-button" href="{{ path('решатель-задач') }}">Решатель задач</a></li>
                </ul>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
