{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if withStylesheets %}
        {{ encore_entry_link_tags(bundleId) }}
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 0 auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-left: 26%; }
</style>

<div class="example-wrapper">
    <h1 style="margin-top: 0; padding-top: 10px;">{{ heading }}</h1>
    <div id="root" data-json-encoded="{{ data }}"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags(bundleId) }}
{% endblock %}
